@font-face {
    font-family: "copperplate";
    src: url("../fonts/Copperplate.ttc");
}

@font-face {
    font-family: "Appetite";
    src: url("../fonts/Appetite•-Rounded.otf");
}


body, html{
    margin: 0;
    padding: 0;
    font-family: copperplate;
}

.testing,
.result,
.resultbox,
.starterPopup{
    display: none;
}

.result p{
    font-size: 100px;
    color: #a7261e;
    margin-bottom: 0px;
}

.testing, .starterPopup, .setUp{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

#addition {
    width: 75%;
}

.multi_section{
    display: flex;
    align-items: center;
    height: 400px;
    width: 600px;
    background: url(../img/back_right.png);
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    box-shadow: 0px 5px 24px -3px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 94% 90%;
}

.innert_multi{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 50%;
    margin: auto;
}

.innertSetUp {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.left_side-test, .right_side-test{
    display: inline;
    vertical-align: top;
}

.left_side-test{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 760px;
    max-height: calc(100vh - 160px);
    margin-top: 30px;
    width: 585px;
    max-width: 80%;
    background: url(../img/back_main.png);
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    box-shadow: 0px 5px 24px -3px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
    align-items: center;
}

.right_side-test{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 760px;
    max-height: calc(100vh - 160px);
    margin-top: 30px;
    max-width: 60%;
    align-items: center;
}

.left_innert {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    max-width: 90%;
    align-items: center;
}

.right_innert{
    margin: auto;
    display: flex;
    max-height: 86%;
    margin-top: 7%;
    overflow: hidden;
    max-width: 90%;
    align-items: flex-start;
    justify-content: space-around;
}

.checkLevel {
    margin: 5px auto;
    font-size: 35px;
}

input[type="checkbox"]:checked + label .checkbox-custom,
input[type="radio"]:checked + label .checkbox-custom{
    background: url("../img/Black.png");
    font-size: 26px;
    color: #ffd95d;
}

input[type="checkbox"], input[type="radio"]{
    display: none;
}

.checkbox-custom{
    cursor: pointer;
    transition: 0.4s;
    display: inline-block;
    vertical-align: middle;
    background: url("../img/red.png");
    background-size: 100%;
    border: 3px solid #c1b892;
    border-top: 3px solid #fddc70;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 7px;
    font-size: 0;
}

.right_side-top{
    height: 80%;
    width: 95%;
    background: url(../img/back_right.png);
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    box-shadow: 0px 5px 24px -3px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 94% 90%;
}

.right_innert .section-chose {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.setUp input[type="number"]{
    width: 280px;
    height: 75px;
    font-size: 35px;
    font-family: copperplate;
    text-align: center;
    border: 4px solid #dfd7b5;
    border-top: 4px solid #fddc70;
    border-radius: 32px;
    box-sizing: border-box;
}

.inter{
    width: 70px;
    background: url("../img/red.png");
    background-size: 100%;
    border: 3px solid #c1b892;
    border-top: 3px solid #fddc70;
    font-family: copperplate;
    font-weight: 900;
    font-size: 22px;
    height: 70px;
    color: #fff;
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
}

.hardest{
    width: 180px;
    max-width: 80%;
    background: url("../img/red.png");
    background-size: 100%;
    border: 3px solid #c1b892;
    border-top: 3px solid #fddc70;
    box-shadow: 0px 5px 24px -3px black;
    font-family: copperplate;
    font-weight: 900;
    font-size: 22px;
    height: 70px;
    color: #fff;
    border-radius: 35px;
    margin: auto;
    margin-top: 15px;
}

.checkMe{
    width: 80%;
    height: 300px;
    font-size: 200px;
    font-family: copperplate;
    text-align: center;
    border: 4px solid #dfd7b5;
    border-top: 4px solid #fddc70;
    border-radius: 70px;
}

.checkMe:active, .checkMe:focus{
    outline: none;
}


.checkTest{
    width: 385px;
    max-width: 80%;
    background: url("../img/green.png");
    background-size: 100%;
    border: 3px solid #c1b892;
    border-top: 3px solid #fddc70;
    box-shadow: 0px 5px 24px -3px black;
    font-family: copperplate;
    font-weight: 900;
    font-size: 22px;
    height: 70px;
    color: #fff;
    border-radius: 35px;
    margin: auto;
    margin-top: 35px;
}

.newNumber{
    display: none;
    font-size: 207px;
    font-family: copperplate;
    font-weight: 800;
}

.trueAnswer{
    display: none;
}

.hardest.active{
    background: url("../img/black.png");;
}

.setUp{
    display: none;
}

.resultbox button, .starterPopup button, .return, .startTest, .multiStart, .divStart, .indexStart, .sqrtStart{
    width: 385px;
    max-width: 80%;
    background-size: 100%;
    border: 3px solid #c1b892;
    border-top: 3px solid #fddc70;
    box-shadow: 0px 5px 24px -3px black;
    font-family: copperplate;
    font-weight: 900;
    font-size: 22px;
    height: 70px;
    color: #fff;
    border-radius: 35px;
    margin: auto;
    margin-top: 35px;
    display: block;
}

.repeat, .continue, .realStart, .startTest, .multiStart, .divStart, .indexStart, .sqrtStart{
    background: url("../img/green.png");
}

.close, .openTrue, .backChecking, .return{
    background: url("../img/red.png");
}

.right_side-bottom button {
    display: inline-block;
}

.resultbox button.close, .starterPopup button.backChecking, .return{
    width: 180px;
    font-size: 25px;
}

.starterPopup button{
    display: block;
    margin: 25px auto;
}

.trueAnswer, .resultbox h3{
    font-size: 100px;
    text-align: center;
    margin: 0;
}




header{
    height: 100px;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    background: url(../img/header.jpg);
    align-items: center;
    justify-content: space-between;
}

img.header_logo {
    margin-left: 65px;
    margin-top: -10px;
}

img.header_icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.header_controls ul{
    margin-right: 50px;
}

.header_controls ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    font-family: copperplate;
    margin: 0 20px;
}

.header_controls ul li p {
    display: inline-block;
}

.user_name{
    font-size: 25px;
    color: #000;
    font-weight: 900;
}

.user_email, .exit_button{
    font-size: 22px;
    color: #323232;
    font-weight: 300;
}

.exit_button, .exit_button:hover{
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: copperplate;
    cursor: pointer;
}

main{
    align-items: center;
    display: flex;
    background: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 32px);
}

.entering{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 740px;
    max-width: 95%;
    margin: auto;
}

.center_logo{
    width: 380px;
    max-width: 90%;
    margin-top: -15vh;
}

.entering h2{
    text-transform: uppercase;
    margin: 60px auto 40px auto;
    font-family: copperplate;
    font-size: 50px;
}

.login_form{
    display: flex;
    flex-direction: column;
    min-height: 170px;
    width: 100%;
    justify-content: space-around;

}


.login_form *{
    width: 100%;
    height: 70px;
    margin: 10px auto;
    border-radius: 35px;
    font-family: copperplate;
}

.login_form input{
    box-sizing: border-box;
    padding-left: 40px;
    font-size: 35px;
    border: 4px solid #dfd7b5;
    border-top: 4px solid #fddc70;
}

.login_form input:active, .login_form input:focus{
    outline: none;
}

.control_button {
    display: flex;
    justify-content: space-around;
}

.control_button button {
    width: 49%;
    box-sizing: border-box;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    background-size: 100%;
}
.enter{
    font-size: 40px;
    background: url("../img/green.png");
    background-size: 100%;
    border: 5px solid rgba(50,255,50,0.1);
    box-shadow: 0px 5px 24px -3px black;
}
.register{
    font-size: 25px;
    background: url("../img/red.png");
    background-size: 100%;
    border: 5px solid rgba(255,50,50,0.1);
    box-shadow: 0px 5px 24px -3px black;
}

.inter:nth-child(2){
    position: relative;
    left: 67px;
    top: -3px;
}

.inter:nth-child(4){
    position: relative;
    right: 70px;
    top: -3px;
}

button{
    cursor: pointer;
}

button:hover{
    transition: 0.4s;
    background: url("../img/black.png");
    color: #ffd95d;
}

button:focus, button:active{
    outline: none;
}

footer{
    width: 100%;
    height: 32px;
    background: url(../img/back_footer.jpg);
}

img.persons {
    position: absolute;
    bottom: 15px;
    width: 18%;
    max-width: 50%;
    left: 1%;
}

.left-text{
    position: relative;
    left: 2%;
    width: 1ch;
    text-align: center;
    font-family: Appetite;
    word-wrap: break-word;
}

.main_manu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: 20%;
    height: 760px;
    max-height: calc(100vh - 160px);
    margin-top: 30px;
    width: 585px;
    max-width: 80%;
    background: url(../img/back_main.png);
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    box-shadow: 0px 5px 24px -3px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
    align-items: center;
}

.menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.main_button{
    width: 385px;
    max-width: 80%;
    background: url("../img/red.png");
    background-size: 100%;
    border: 3px solid #c1b892;
    border-top: 3px solid #fddc70;
    box-shadow: 0px 5px 24px -3px black;
    font-family: copperplate;
    font-weight: 900;
    font-size: 22px;
    height: 70px;
    color: #fff;
    border-radius: 35px;
    margin: auto;
}

@media (max-width: 480px){
    img.persons {
        width: 50%;
        left: 25%;
    }
}